<mat-toolbar class="mat-elevation-z2" style="justify-content: space-between;">
  <div style="flex: 1; text-align: left;">
    <a mat-button routerLink="/our-work">OUR WORK</a>
  </div>

  <div style="flex: 1; text-align: center;">
    <span style="font-size: 20px; font-weight: 600; letter-spacing: 0.5em;">
      EXOTICA
    </span>
  </div>

  <div style="flex: 1; text-align: right;">
    <a mat-button routerLink="/about-us">ABOUT US</a>
    <a mat-button routerLink="/contact">CONTACT</a>
  </div>
</mat-toolbar>


