<section class="hero-container">

  <!-- Left: text -->
  <div class="hero-text">
    <h1>
      <span>feel</span><br />
      <span>the glory</span><br />
      <span>of fluid</span>
    </h1>
  </div>

    <!-- Center: polaroid-style card -->
    <mat-card class="hero-card">
      <img mat-card-image src="img/Neptune.svg" alt="Exotica" />
      <mat-card-content>
        <h2>NEPTUNE</h2>
        <p>PLANET #05</p>
      </mat-card-content>
    </mat-card>

<div class="scroll-indicator">
  <img src="img/Group.svg" alt="Scroll Down" class="scroll-svg" />
</div>
</section>
